@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: aliceblue;
  color: rgba(27, 29, 46, 0.793);
  font-family: "Prompt", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header {
  padding-top: 9.6rem;
  text-align: center;
}

.footer {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0 auto;
}

.list {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;
  width: 300px;
  align-items: stretch;
  border: 1px solid gray;
}

.draggable {
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}

.draggable.correct p {
  color: green;
}

.draggable.dragover {
  border: 2px solid black;
}

.draggable.incorrect p {
  color: red;
}

.fa-solid {
  margin-left: 3.2rem;
}

.number {
  display: flex;
  width: 6.4rem;
  height: 6.4rem;
  font-size: 2.4rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(18, 22, 46);

  background-color: rgb(188, 200, 216);
}

.name {
}

.button {
  border: 0;
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
  padding: 1.6rem 3.2rem;
}
